<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
</head>
<body>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log Out</a>
        <hr>
        <br>
        {% for course in courses %}
        <a href="{% url 'course' course.id %}">{{ course.title }}</a>
        <br>
        {{ course.price }}
        <br>
        {{ course.date }}
        <br>
<hr>
<br>
{% endfor %}
    {% else %}
        <h1> You should login first</h1>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'registration' %}">Registration</a>
    {% endif %}
</body>
</html>